.header
    .menu
        .item
            a.link(href=root)
                img.logo(src=root+"../assets/logo-gplatform.png")
        .item
            a.link(href=root+"g3d/docs/Engine.html") Docs
        .item
            a.link(href=root+"g3d/guide/First Steps.html") Guide
        .item
            a.link(target="_blank" href="https://gplatformteam.github.io/g3d-playground/docs/") Playground