.header
    .menu
        .item
            a.link(href=root+"/gcanvas.html")
                img.logo(src=root+"../assets/logo-g3d.png")
        .item
            a.link(href=root+"g3d/docs/Engine.html") Docs
        .item
            a.link(href=root+"g3d/guide/First Steps.html") Guide
        .item
            a.link(href="https://gplatformteam.github.io/g3d-playground/docs/") Playground