.header
    .menu
        .item
            a.link(href="./gcanvas.html")
                img.logo(src="/assets/logo-g3d.png")
        .item
            a.link(href="/g3d/docs/Engine.html") Docs
        .item
            a.link(href="/") Guide
        .item
            a.link(href="https://gplatformteam.github.io/g3d-playground/docs/") Playground