.header
    .menu
        .item
            a.link(href="./gcanvas.html")
                img.logo(src="/assets/logo-gcanvas.png")
        .item
            a.link(href="/") Docs
        .item
            a.link(href="/") Guide
        .item
            a.link(href="/") Coorperation
        .item
            a.link(href="/") Playground