extend layout

block meta
    title GCanvas - Draw to your devices directly with Javascript
    link(rel="icon" href=root+"../assets/favicon-gcanvas.png" type="image/x-icon")
    link(rel="stylesheet" href=root+"index.css")

block main
    .gcanvas
        include gcanvas-header.pug
        .doc
            .content
                .index
                    ol
                        for name in index
                            li.item
                                a(href="./"+name+".html")= name
                .body!= content