extends layout

block meta
    title GCanvas - Draw to your devices directly with Javascript
    link(rel="icon" href=root+"../assets/favicon-gcanvas.png" type="image/x-icon")
    link(rel="stylesheet" href="./index.css")

block main
    .gcanvas
        include gcanvas-header
        .content
            .coorp-item
                .left
                    .title G2
                    .description Balabala
                .right
                    img(src="https://img.alicdn.com/tfs/TB1irFsXYGYBuNjy0FoXXciBFXa-609-393.png")
            .coorp-item
                .left
                    img(src="https://img.alicdn.com/tfs/TB1hrFsXYGYBuNjy0FoXXciBFXa-514-372.png")
                .right
                    .title Miao Dong
                    .description Balabala
            .coorp-item
                .left
                    .title Hilo
                    .description Balabala
                .right
                    img(src="https://img.alicdn.com/tfs/TB1gYFsXYGYBuNjy0FoXXciBFXa-505-371.png")
                    