.header
    .menu
        .item
            a.link(href="./")
                img.logo(src="/assets/logo-gplatform.png")
        .item 
            a.link(href="/gcanvas.html") GCanvas
        .item
            a.link(href="/g3d.html") G3D
        .item-right
            a.link(href="https://github.com/alibaba/GPlatform" target="_blank")
                img.logo(src="/assets/logo-github.png")